html, body {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: .3em;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: Dosis, sans-serif;
  font-size: 3em;
}