.getstarted__btn {
    width: 18em;
    height: 5em;
    background-color: #e36d8a;
    border-radius: 100px;
    border: none;
}



.getstarted__btn a {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
} /* Idea Section */
.ideas {
    background-color: #2e3440;
    padding: 0 0;
}
